@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

textarea,
input {
  background-color: inherit;
}

ul {
  list-style-type: none;
}
